<html>
<head>
  <title>{{title}}</title>
  <!-- none of this script is used, just here in case we
   want to manually submit json to server
   note, doing so seems to take mustache out of loop (no page updates work)
   also never found a way to get the script to process a response
   tried (success, failure, callback) various functions, never seemed to 
   get called -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
  	const serialize_form = form => JSON.stringify(
  		Array.from(new FormData(form).entries())
      		.reduce((m, [ key, value ]) => Object.assign(m, { [key]: value }), {})
	);
  </script>
<!-- this script should not be here but on the specific form file where register_form is, should follow AFTER form definition -->
	<script>
		$('#register_form').on('submit', function(event) {
	  		event.preventDefault();
	  		const json = serialize_form(this);
	  		$.ajax({
	    		type: 'POST',
	    		url: 'saveComment',
	    		dataType: 'json',
	    		data: json,
	    		contentType: 'application/json'
	  		});
		});
	</script>
</head>
<body>