<form id="register_form" action="saveComment" method="post">
	<label for='comment'>Comment:</label>&nbsp;&nbsp;<input type='text' name='comment' label='Comment' value='def'/>
	<br/>
	<label for='age'>Age:</label>&nbsp;&nbsp;<input type='text' name='age' label='Age' value='33'/>
	<br/>
	<button type='submit' value='Submit'>Update Page Title</button>
</form>
