<form action="saveComment" method="post">
	<label for="comment">Comment:</label>&nbsp;&nbsp;<input type="text" name="comment" label="Comment"/>
	<br/>
	<input type="submit" value="Save" onclick="alert('You cannot submit a form to spring, must use ajax, or some library to account for it');return false;"/>
</form>