<form action='saveComment' method='post' enctype='text/plain'>
	<label for='commentForm'>Comment:</label>&nbsp;&nbsp;<input type='text' name='commentForm[comment]' label='Comment' value='def'/>
	<br/>
	<input type='submit' value='Save'/>

	<button type='submit'>Click me</button>
</form>